name: Build and Deploy Apache on Ubuntu

on:
  push:
    branches: [ "main" ]

jobs:
    build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: pavansw/apache-ubuntu-demo:latest

#======================
#   JOB2
    deploy-container:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Pull and Run Container
        run: |
          echo "Step 1: Pulling the image we just built..."
          docker pull pavansw/apache-ubuntu-demo:latest
          echo "Step 2: Starting the container..."
          docker run -d --name my-apache-server -p 80:80 pavansw/apache-ubuntu-demo:latest

          echo "Step 3: Verifying the container is running..."
          docker ps

      - name: Verify Application (Integration Test)
        run: |
          echo "Waiting 5 seconds for Apache to initialize..."
          sleep 5
          
          echo "Making a request to the server..."
          curl -v http://localhost:80

